
/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*, *::before, *::after {
    box-sizing: border-box;
  }



/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');



/* CSS */
body{
    background-color: hsl(30, 38%, 92%);

}

.card{
    background-color:  hsl(0, 0%, 100%);
    width: 35%;
    height: 350px;
    border-radius: 10px;
    position: relative;
    top: 20vh;
    margin:auto;

}


.product-image{
   
    position: absolute;
    
}

.image-desktop{
    width: 49%;
    /* height: 25%; */
    border-radius: 12px 0 0 12px;
}

.image-mobile{
    display: none;
}

.product-description{
   
    position: absolute;
    left: 50%;
    padding: 20px;
}

.desc-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: hsl(228, 12%, 48%);
}

.product-description>h5{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 80%;
    padding-top: 10%;
}

.floral{
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
    font-size: 0.75rem;
    padding-top: 10%;
    font-weight: 700;
    color: hsl(228, 12%, 48%);
}

.price-cut{
    text-decoration: line-through;
    font-size: 0.75rem;
    color: hsl(228, 12%, 48%);
    margin-left: 15px;
}

.price-tag{
    

    color:  hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    margin:15px 0;



}

.buy-btn{
  background-color: hsl(158, 36%, 37%); 
  font-family: 'Fraunces', serif;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  /* margin: 4px 2px; */
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 12px;
  width: 100%;
  height: 45px;
}


.buy-btn:hover {
    background-color: hsl(212, 21%, 14%);
    color: white;
}


span.icon-cart{
    background: url(./images/icon-cart.svg);
    /* background-size: contain;
    cursor: pointer; */
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 5px;
}


@media only screen and (max-width: 375px) {
    

    .image-desktop{
        display: none;
    }
    
    .image-mobile{
        display: block;
        width: 100%;
        border-radius: 6px 6px 0 0;
    }

    .product-description{
   
        position: absolute;
        left: 0%;
        top: 20%;
    }

    .desc-title{
        font-size: 0.5rem;
    }
    
    .product-description>h5{
        font-size: 0.75rem;
        line-height: 90%;
        padding-top: 10%;
        /* font-weight: 700; */
    }
    
    .floral{
        /* line-height: 150%; */
        font-size: 0.375rem;
    }
    
    .price-cut{
        font-size: 0.375rem;
    }
    
    .price-tag{
        
    
        font-size: 1rem;
    
    
    
    }
    
    .buy-btn{
      font-size: 0.5rem;
      border-radius: 6px;
      padding: 0;
    
      height:25px;
      
    }
    
    
    
    
    
    span.icon-cart{
        
        height: 7px;
        width: 7px;
        /* margin:0; */
        
    }

  }